html, body {
	height: 90vh;
	background:#fff;
}
.color-white {
	color:#fff;
}
.adminDashboardView {
	margin:70px 10px 0px;
}
.adminDashboardView td > table {
	margin:0 0 5px 0;
}
.testupload-data-view {
	padding: 36px 2px;
}
#checked {
    width: 100%;
    min-width: inherit;
    margin-bottom: 2%;
}
.subScoresView {
	width: 60%;
	margin: auto;
}
.ScoresListView {
	width: 80%;
	margin: auto;
}
.testupload-data-view a:hover {
	text-decoration:none;
}
.dropdown-menu>li>a {
	color: #9d9d9d;
}
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: transparent !important;
}
.box-container {
	min-height: 70px;
}
.box-item {
	width: 100%;
	z-index: 1000
}
.list-group {
	text-align: center;
}
.list-group-item {
	background-color: #f5f5f5 !important;
}
.DisplayQuestionsOrder .panel-default>.panel-heading {
    color: #fff;
    background-color: #333;
    border-color: #ddd;
}
.homeDashboardView {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.homeView .row form {
	width: 70%;
	margin: auto;
}
/* 
.imgLogo {
	/*display: none;
	content: url('../../resources/img/aims_logo.jpg');
	width:200px; 
	height:150px;
	margin:0em 0em 3em 2em;
	-webkit-print-color-adjust: exact;
}
*/
.btns-scores .btn { 
	width:150px;  
	/* min-width:inherit;  */
	/* margin-bottom:2%; */
}
.btns-scores #btnExport { 
	left: 1%;
}
.imgLogo {
	display: none;
	content: url('../../resources/img/aims_logo.jpg');
	width:120px; 
	height:80px;
	border-radius: 2px;
	margin-right: 1em;
	-webkit-print-color-adjust: exact;
}
.scores-header { 
	text-align: center;
}
.scores-logo { 
	margin: 3% 0px;
    display: inline-flex;
    align-items: center;
    text-align: center;
}
.score-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
	text-align: center;	
	padding:12px;
}
.footer {
	background-color:#3f51b5;
	height:10vh;
}
.navbar-fixed-top {
	background-color:#3f51b5;
	color:#fff;
}
#testname {
	background-color:#FF0000;
}
#TesingButton {
	background-color:#FF0000;
}

#testname:hover, #testname:active {
    box-shadow: 5px 5px 5px #000000;
}
#TesingButton:hover, #TesingButton:active {
    box-shadow: 5px 5px 5px #000000;
}
