@media print {
	body {
		font-size:30px;
		color:#3f51b5 !important;
		-webkit-print-color-adjust: exact; 
	}
	
	#btnExport, #btnPrint {  
		display:none; 
	} 
	
	.imgLogo {
		display: block;
		padding:-2em;
	}
}
